.line-container body {
  height: 270% ;
  margin: 0;
}

.line-container {
  top: 50; 
  left: 0; 
  right:0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  
}

.ine-container svg {
  width:2000;
  display: inline-block;
  height: 250%; 
  transform: translateY(0);
}
