:root {
  --header-row-height: 44px;
  --header-height: calc(var(--header-row-height) * 2);
  --hero-height: calc(100svh - var(--header-height));
}

@keyframes carouselMoveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes carouselMoveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-carousel-move-left {
  animation: carouselMoveLeft var(--duration, 35s) linear infinite;
}

.animate-carousel-move-right {
  animation: carouselMoveRight var(--duration, 25s) linear infinite;
}
